h1 {
    padding: 25px;
}

.fishContener {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: auto;
    right: auto;
}

.center {
    width: 70%;
    padding: 10px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}


.text p {
    font-size: 1.1em;

}

.text img {
    width: 30%;
    margin: 8px;
}

/* .text {
    display: flex;
} */

/* .footer {
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
}

.footer img {
    width: 32px;
    height: 32px;
    margin-top: 10px;
} */