/* NAVIGATION */
.navigation {
    background-color: #bbb;
    background-image: url(image/nav.jpg);
    background-image: url(image/nav.jpg);
    background-position: top;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px;
    list-style: none;
    color: black;

}

.menu a {
    color: black;

}

.menu a:hover {
    text-decoration: none;
    color: black;

}

.navigation img {
    width: 34px;
    height: 34px;
}

.navigation label {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    /* line-height: 70px; */
    display: none;
    width: 36px;
    /* float: right; */
}

#toggle {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navigation label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a:hover {
        color: blanchedalmond;
    }

    .menu a {
        display: block;
        font-size: 28px;
        margin: 15px;

    }

    #toggle:checked+.menu {
        display: block;
    }

    .footer p {
        font-size: 14px;
    }

}

/* FOOTER  */
.footer {
    background-color: #555;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    width: 100%;
    flex-basis: 5vh;
}

.footer img {
    width: 32px;
    height: 32px;
}

.footer p {
    margin: 8px;
}