body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;

}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(233, 224, 224);
    text-align: center;
    align-items: center;

}

.header {
    background-color: #888;
    background-image: url(image/tlo/tloSplawiki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1200px;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header ul {
    list-style: none;
    text-align: left;
    font-size: 1.6em;
    color: white;
    line-height: 33px;
}

.header h1 {

    font-size: 3em;
}

.main h2 {
    font-size: 2.5em;
}

.header img {
    width: 64px;
    height: 64px;
}

.section {
    background-color: #555;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.section ul {
    transition: 1s;
}

.sprzet-section {
    background-image: url(image/tlo/tloSprzet.jpg);
}

.sprzet-section ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    font-size: 1.8em;
    background-color: rgba(56, 54, 54, 0.5);
    padding: 8px;
    border-radius: 10px;
    color: white;
    margin: 5px;
}

.sprzet-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.sprzet-ul {
    transform: translateX(80vw);
}

.sprzet-ul.active {
    transform: translateX(0);
}

.ryby-section {
    background-image: url(image/tlo/ryba.jpg);
}

.ryby-ul {
    transform: translateX(80vw);
}

.ryby-ul.active {
    transform: translateX(0);
}

.ryby-section ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    font-size: 1.8em;
    padding: 8px;
    color: white;
    background-color: rgba(56, 54, 54, 0.5);
    margin: 5px;
    border-radius: 10px;
}

.ryby-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.buttonShowFish {
    font-size: 1.3em;
    background-color: rgba(56, 54, 54, 0.5);
    border-radius: 8px;
    color: white;
    padding: 5px;
    position: absolute;
    right: 250px;
    top: 250px;
    transition: ease-in-out .2s;
}

.buttonShowFish:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.metody-section {
    background-image: url(image/tlo/tloMetody.jpg);
    transition: 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.metody-ul {
    transform: translateX(-100vw);
}

.metody-ul.active {
    transform: translateX(0);
}

.metody-section ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    font-size: 1.8em;
    padding: 8px;
    color: white;
    background-color: rgba(56, 54, 54, 0.5);
    margin: 5px;
    border-radius: 10px;

}

.miejscowki-section {
    background-image: url(image/tlo/tloMiejscowki.jpg);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: auto;
}

.miejscowki-section img {
    width: 40%;
    padding: 20px;
    transform: scale(0);
    transition: 1s;
}

.miejscowki-section.active img {
    transform: scale(1);
}

.miejscowki-section h2 {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 6px;

}

.movie {
    max-width: 1200px;
}

/* Scroll UP */
#button {
    display: inline-block;
    background-color: rgb(219, 216, 212, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.5);
}

#button:active {
    background-color: rgb(0, 0, 0, 0.5);
}

#button.show {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

@media (max-width:600px) {
    .miejscowki-section img {
        width: 50%;
        padding: 5px;

    }

    .header h1 {
        font-size: 2.2em;
    }
}